[package]
name = "yellowstone-jet"
version = "10.3.0"
authors = ["Triton One"]
edition = "2021"
description = "Yellowstone Jet"
license = "Apache-2.0"
resolver = "2"
publish = false

[dependencies]
anyhow = "1.0.69"
async-trait = "0.1.83"
base64 = "0.22.0"
bincode = "1.3.3"
bs58 = "0.5.1"
clap = { version = "4.5.2", features = ["cargo", "derive", "env"] }
derivative = "2.2.0"
etcd-client = "0.14.0"
futures = "0.3.30"
hostname = "0.4.0"
humantime-serde = "1.1.1"
hyper = "1.5.0"
jsonrpsee = { version = "0.24.7", features = [
    "http-client",
    "macros",
    "server",
] }
lazy_static = "1.4.0"
lru = "0.12.3"
maplit = "1.0.2"
pin-project = "1.1.5"
prometheus = "0.13.3"
prost = "0.13.3"
prost-types = "0.13.3"
quinn = "0.10.2"
rand = "0.8.5"
rustls = { version = "0.21.7", default-features = false, features = ["quic"] }
rust-etcd-utils = { git = "https://github.com/rpcpool/rust-etcd-utils.git", tag = "v0.8.0" }
semver = "1.0.22"
serde = "1.0.215"
serde_json = "1.0.116"
serde_yaml = "0.9.25"
solana-client = "~2.0.14"
solana-connection-cache = "~2.0.14"
solana-net-utils = "~2.0.14"
solana-program = "~2.0.14"
solana-quic-client = "~2.0.14"
solana-rpc-client-api = "~2.0.14"
solana-sdk = "~2.0.14"
solana-streamer = "~2.0.14"
solana-tpu-client = "~2.0.14"
solana-transaction-status = "~2.0.14"
solana-version = "~2.0.14"
thiserror = "1.0.58"
tokio = { version = "1.36.0", features = ["rt-multi-thread", "macros"] }
tokio-stream = "0.1.15"
tonic = { version = "0.12.3", features = ["tls-native-roots"] }
tonic-health = "0.12.3"
tower = "0.4.13"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.1", features = [
    "ansi",
    "env-filter",
    "json",
] }
uuid = { version = "1.11.0", features = ["v4", "serde"] }
yellowstone-grpc-client = "2.0.0"
yellowstone-grpc-proto = "2.0.0"

[build-dependencies]
anyhow = "1.0.69"
cargo-lock = "10.0.1"
git-version = "0.3.9"
protobuf-src = "1.1.0"
tonic-build = "0.12.3"
vergen = { version = "9.0.1", features = ["build", "rustc"] }

[lints.clippy]
clone_on_ref_ptr = "deny"
missing_const_for_fn = "deny"
trivially_copy_pass_by_ref = "deny"

[profile.release]
codegen-units = 1
lto = true

[patch.crates-io]
solana-account-decoder = { git = "https://github.com/rpcpool/solana-public.git", tag = "v2.0.14-triton-public" }
solana-program = { git = "https://github.com/rpcpool/solana-public.git", tag = "v2.0.14-triton-public" }
solana-rpc-client = { git = "https://github.com/rpcpool/solana-public.git", tag = "v2.0.14-triton-public" }
solana-rpc-client-api = { git = "https://github.com/rpcpool/solana-public.git", tag = "v2.0.14-triton-public" }
solana-sdk = { git = "https://github.com/rpcpool/solana-public.git", tag = "v2.0.14-triton-public" }
solana-transaction-status = { git = "https://github.com/rpcpool/solana-public.git", tag = "v2.0.14-triton-public" }

# https://github.com/anza-xyz/agave/blob/v2.0.4/Cargo.toml#L502-L533
[patch.crates-io.curve25519-dalek]
git = "https://github.com/anza-xyz/curve25519-dalek.git"
rev = "b500cdc2a920cd5bff9e2dd974d7b97349d61464"
