[package]
name = "yellowstone-jet"
version = "14.2.0"
authors = ["Triton One"]
edition = "2024"
description = "Yellowstone Jet"
license = "Apache-2.0"
resolver = "2"
publish = false

[dependencies]
anyhow = "1.0.97"
async-trait = "0.1.83"
base64 = "0.22.0"
bincode = "1.3.3"
bs58 = "0.5.1"
borsh = "1.5.1"
bytes = "1.10.0"
clap = { version = "4.5.2", features = ["cargo", "derive", "env"] }
derivative = "2.2.0"
derive_more = { version = "2.0.1", features = ["display"] }
etcd-client = "0.14.0"
futures = "0.3.30"
hostname = "0.4.0"
humantime-serde = "1.1.1"
hyper = "1.5.0"
jsonrpsee = { version = "0.24.7", features = [
    "http-client",
    "macros",
    "server",
] }
lazy_static = "1.4.0"
lru = "0.12.3"
maplit = "1.0.2"
pin-project = "1.1.5"
prometheus = "0.13.3"
prost = "0.13.3"
prost-types = "0.13.3"
quinn = "0.11.6"
quinn-proto = "0.11.6"
rand = "0.8.5"
rustls = { version = "0.23.15", default-features = false }
semver = "1.0.22"
serde = "1.0.215"
serde_json = "1.0.116"
serde_yaml = "0.9.25"

# Agave Crates
solana-client = "2"
solana-connection-cache = "2"
solana-net-utils = "2"
solana-quic-client = "2"
solana-rpc-client-api = "2"
solana-streamer = "2"
solana-tpu-client = "2"
solana-version = "2"
solana-rpc-client = "2"
solana-transaction-status-client-types = "2"
solana-system-interface = "1"
solana-bincode = "2"
solana-tls-utils = "2"
# --> Anza - Solana SDK (decoupled from agave)
solana-program = "2"
# TEMPORARY
reqwest = { version = "0.12.15", features = ["json"] }
retry = "2.0.0"
solana-instruction = "2"
solana-pubkey = "2"
solana-keypair = "2"
solana-account = "2"
solana-clock = "2"
solana-hash = "2"
solana-epoch-schedule = "2"
solana-quic-definitions = "2"
solana-signature = { version = "2", features = ["rand"] }
solana-signer = "2"
solana-transaction = "2"
solana-epoch-info = "2"
solana-commitment-config = "2"
solana-transaction-error = "2"
solana-message = "2"
solana-compute-budget-interface = "2"
solana-native-token = "2"
solana-nonce = "2"
solana-packet = { version = "2", features = ["bincode", "serde"] }
thiserror = "1.0.58"
tokio = { version = "1.43.0", features = ["rt-multi-thread", "macros"] }
tokio-stream = "0.1.15"
tonic = { version = "0.12.3", features = ["tls-native-roots"] }
tonic-health = "0.12.3"
tower = "0.4.13"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.1", features = [
    "ansi",
    "env-filter",
    "json",
] }
uuid = { version = "1.11.0", features = ["v4", "serde"] }

yellowstone-grpc-client = "7"
yellowstone-grpc-proto = "7"
yellowstone-shield-store = "~0.5.2"
yellowstone-vixen = "0.2.0"
solana-sdk = "2.2.1"
governor = "0.10.0"
dashmap = "6.1.0"
solana-perf = "2.0.22"
histogram = "0.11.3"
crossbeam-channel = "0.5.15"
cached = "0.42.0"


[build-dependencies]
anyhow = "1.0.69"
cargo-lock = "10.0.1"
git-version = "0.3.9"
protobuf-src = "1.1.0"
tonic-build = "0.12.3"
vergen = { version = "9.0.1", features = ["build", "rustc"] }

[lints.clippy]
clone_on_ref_ptr = "deny"
missing_const_for_fn = "deny"
trivially_copy_pass_by_ref = "deny"

[profile.release]
codegen-units = 1
lto = true

[patch.crates-io]
solana-rpc-client = { git = "https://github.com/rpcpool/solana-public.git", tag = "v2.2.19-triton-public" }
solana-rpc-client-api = { git = "https://github.com/rpcpool/solana-public.git", tag = "v2.2.19-triton-public" }
solana-account-decoder-client-types = { git = "https://github.com/rpcpool/solana-public.git", tag = "v2.2.19-triton-public" }
solana-client = { git = "https://github.com/rpcpool/solana-public.git", tag = "v2.2.19-triton-public" }
solana-net-utils = { git = "https://github.com/rpcpool/solana-public.git", tag = "v2.2.19-triton-public" }
solana-streamer = { git = "https://github.com/rpcpool/solana-public.git", tag = "v2.2.19-triton-public" }
solana-transaction-context = { git = "https://github.com/rpcpool/solana-public.git", tag = "v2.2.19-triton-public" }
solana-transaction-status-client-types = { git = "https://github.com/rpcpool/solana-public.git", tag = "v2.2.19-triton-public" }

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = "0.6"
