tracing:
  json: false # change to `true` for production

# Identity options
identity:
  # Represents the expected validator pubkey in base58.
  # Do not send transactions if Quic identity doesn't match specified one
  expected: null # 3RY3bvCRoCoSTy5qSNL1ezeGQwt1ufToLSKdmEZZjb4Z
  # Load specified keypair from file
  keypair: null

# RPC & gRPC for upstream validator
upstream:
  # gRPC service
  grpc:
    # gRPC service endpoint
    endpoint: http://127.0.0.1:10000
    # Optional token for access to gRPC
    x_token: null
  # RPC endpoint
  rpc: http://127.0.0.1:8899
  # Cluster nodes information update interval in milliseconds
  cluster_nodes_update_interval: 30s
  # Stake update interval
  stake_update_interval: 30s

# jet-gateway endpoints
# jet_gateway:
#   # Max transactions requested from proxy (every 100ms), by default calculated from stake value
#   # If set to 0 or null then stake based calculation is used
#   max_streams: null
#   # gRPC service endpoints, attempt to connect in round-robin fashion
#   endpoints:
#     - http://127.0.0.1:8002
#   # Access token
#   x_token: null

# Admin server listen options
listen_admin:
  # RPC listen address
  bind:
    # - env: JET_ADMIN_ADDR
    - 127.0.0.1:8001

# Solana-like server listen options
listen_solana_like:
  # Solana like RPC listen address
  bind:
    # - env: JET_SOLANA_LIKE_ADDR
    - 127.0.0.1:8000
  # Allow to do sanitize check on RPC server (required for ALTs), supported only on patched nodes
  # If option set to `true`` then Jet would check `sanitizeTransaction` method before start
  # See https://github.com/rpcpool/solana-public/tree/v1.17.31-rpc-sanitize-tx
  # RECOMMENDED: false
  proxy_sanitize_check: false
  # Allow to do preflight check on RPC server (simulateTransaction)
  # RECOMMENDED: false
  proxy_preflight_check: false


# Send retry options
send_transaction_service:
  # Send transaction to number of leaders (include the current leader)
  # if set to `2` : send to current leader + next leader.
  leader_forward_count: 2

  # relay_only_mode : effectively no retry is schedule per transaction, simply fanout to upcoming leaders.
  #
  # ignores `default_max_retries`, `service_max_retries`, `stop_send_on_commitment` and `retry_rate`
  # WE RECOMMEND setting relay_only_mode=true, for staked jet instance for best performance.
  # retry can add a lot of overhead and is better handled by the original transaction sender (the client).
  relay_only_mode: true

  # Default max retries of sending transaction
  # only interpreted if `relay_only_mode: false`
  default_max_retries: 0

  # Service max retries
  # only interpreted if `relay_only_mode: false`
  service_max_retries: 0

  # Try to send transaction every retry_rate duration
  # only interpreted if `relay_only_mode: false`
  retry_rate: 1s

  # For each transaction you can add additional fanout destination to send to.
  # extra_fanout:
  #   - 5mWE4TqvycLcWnzdQ7ep8ug1bQ86ePjXsvDTxDfNYtUi
  #   - 6c5SxCmmpKviR2CtmEUk9VQZFPakJTZZcghZ5BqqoysM

quic:
  # Maximum number of concurrent connections to remote peers validators.
  # We recommend 1024, since most of the stake is cover by 1024 validators.
  max_concurrent_connection: 1024
  # How many "endpoint" to host connections.
  # Each endpoint creates an Event loop that actual send the transaction to remote peers.
  # Many connections can share the same endpoint.
  # For maximum performance, it should be equal to `max_concurrent_connections`
  # default: 5
  endpoint_count: 1024
  # Number of immediate retries in case of failed send
  send_retry_count: 1
  # How far in the leader schedule from current slot should we pre-emptively warm-up connections.
  # default is none, we recommend 10
  connection_prediction_lookahead: 10
  # Kind of Quic port: `normal` or `forwards`
  tpu_port: forwards
  # Quic handshake timeout ~ timeout to connect to a remote peer.
  # Default is `solana_sdk::quic::QUIC_CONNECTION_HANDSHAKE_TIMEOUT` -- 2s
  # we recommend 4s, or 6-8s if you are geographically localted APAC (Asia-Pacific)
  connection_handshake_timeout: 4s
  # The outbound udp port range to use.
  # The range must be greater than or equal to `endpoint_count` and cover at least 5 ports.
  endpoint_port_range:
    start: 35000
    end: 45000

  # You can override the default TPU information for specific remote peers.
  # This will override any gossip information regarding tpu information of remote peers.
  # You can also add private identity which are not official validator here.
  # tpu_info_override:
  #   - remote_peer: 5mWE4TqvycLcWnzdQ7ep8ug1bQ86ePjXsvDTxDfNYtUi
  #     quic_tpu: 10.0.1.0:8000
  #     quic_tpu_forward: 10.0.1.0:8001


# For staked jet instance, we recomend the following quic + send_transaction_service configuration:
# quic:
#   max_concurrent_connection: 1024
#   endpoint_count: 1024
#   send_retry_count: 1
#   connection_handshake_timeout: 4s
#   tpu_port: forwards
#   endpoint_port_range:
#     start: 35000
#     end: 45000
#   connection_prediction_lookahead: 10

# send_transaction_service:
#   leader_forward_count: 3
#   relay_only_mode: true

features:
  enabled_features:
    - transaction_payload_v2
    - yellowstone_shield

prometheus:
  url: http://127.0.0.1:8429/api/v1/import/prometheus
